.Rolldice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RolldiceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rolldice button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 3em;
  transition: 0.7s;
}

.Rolldice button:hover {
  background-color: crimson;
  cursor: pointer;
}
